<%= simple_form_for(@child) do |f| %>
  <div class="drop_downs">
    <div class="single_drop_down">
      <%= f.input :age, prompt: "Select Age" %>
    </div>

    <div class="single_drop_down">
      <%= f.input :gender, collection: {"Boy" => "boy", "Girl" => "girl", "Prefer not to say" => "prefer_not_to_say"}, prompt: "Select Gender" %>
    </div>
  </div>
  <p class="comic-neue-regular profile_about"></p>
  <div class="descriptions characteristics">
    <%= f.association :self_characteristics, collection: Characteristic.all, as: :check_boxes,
                      input_html: { class: "tag-selector description-checkbox" },
                      item_wrapper_class: 'tag-item' %>
  </div>

  <div class="about">
    <%= f.input :about %>
  </div>

  <p class="comic-neue-regular profile_about">Preferences:</p>
  <div class="preferences characteristics">
    <%= f.association :other_characteristics, collection: Characteristic.all, as: :check_boxes,
                        input_html: { class: "tag-selector description-checkbox" },
                        item_wrapper_class: 'tag-item' %>
  </div>

  <div class="submit">
    <%= f.button :submit %>
  </div>
<% end %>
