<%# <div class='d-flex justify-content-between gap-1.5 py-1 mx-1'>
  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> All </a>
  </div>

  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> Nearby </a>
  </div>

  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> Preferences </a>
  </div>

</div> %>


<div data-controller="toggle">
<div class="categorys_children">
  <div>
    <%= link_to "All", children_path, class: "category_buttons" %>
  </div>
  <div>
  <%= link_to "Requests #{@notifications}", requests_path,  class: "category_buttons" %>
  </div>

  <div>
  <a class="category_buttons" data-action="click->toggle#toggleElement">Filter</a>
  </div>
</div>

  <div data-toggle-target="toggleableElement" class="d-none filter">
    <%= form_with url: children_path, method: :get, class: "d-flex" do %>
          <div>
            <%= select_tag :gender,
                  options_for_select(["boy", "girl", "prefer_not_to_say"], selected: params[:gender]),
                  class: "form-control",
                  prompt: "Gender"
            %>
          </div>
          <div>
            <%= select_tag :min_age,
                options_for_select(1..12, selected: params[:min_age]),
                class: "form-control",
                prompt: "Min. age"
            %>
          </div>
          <div>
            <%= select_tag :max_age,
                options_for_select(1..12, selected: params[:max_age]),
                class: "form-control",
                prompt: "Max. age"
            %>
          </div>
          <div>
          <%= check_box_tag :preferences,
                checked: params[:preferences]
            %>
          </div>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

<div>
  <% @children.each do |child| %>
    <%= link_to child_path(child) do %>
      <div class="child_card comic-neue-regular">

        <div class="image_and_name foto_fit">
          <%= image_tag child.image_url if child.image_url%>
          <p class="child_card_boxes custom_shadow child_name luckiest-guy-regular"><%= child.first_name %></p>
        </div>

        <div class="age_and_gender">
          <p class="child_card_boxes custom_shadow"><%= child.age %></p>
          <p class="child_card_boxes custom_shadow"><%= child.gender %></p>
        </div>

        <div class="child_card_boxes custom_shadow">
          <p><%= child.about %></p>
        </div>

      </div>
    <% end %>
  <% end %>
</div>
