<%# <div class='d-flex justify-content-between gap-1.5 py-1 mx-1'>
  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> All </a>
  </div>

  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> Nearby </a>
  </div>

  <div class="w-100">
    <a class="btn btn-primary w-100" href="" target="_blank"> Preferences </a>
  </div>

</div> %>

<div class="categorys_children">
  <div>
    <a class="category_buttons">All</a>
  </div>

  <div>
  <a class="category_buttons">Liked Playgrounds</a>
  </div>

  <div>
  <a class="category_buttons">Filter</a>
  </div>
</div>


<div>
  <% @children.each do |child| %>
    <div class="child_card comic-neue-regular">

      <div class="image_and_name foto_fit">
        <%= image_tag child.image_url %>
        <p class="child_card_boxes child_name luckiest-guy-regular"><%= link_to child.first_name, child_path(child)%></p>
      </div>

      <div class="age_and_gender">
        <p class="child_card_boxes"><%= child.age %></p>
        <p class="child_card_boxes"><%= child.gender %></p>
      </div>

      <div class="child_card_boxes">
        <%= child.about %>
      </div>

    </div>
  <% end %>
</div>
