<div>
  <p class="back-button"><%= link_to "<<Back to users", children_path %></p>
</div>

<div class="child_card image_and_name foto_fit">
  <%= image_tag @child.image_url %>
  <p class="child_card_boxes child_name"><%= @child.first_name %></p>
</div>

<p class="about_show_page">About <%= @parent.first_name %></p>
  <div class="child_card age_and_gender">
          <p class="child_card_boxes"><%= @parent.age %></p>
          <p class="child_card_boxes"><%= @parent.gender %></p>
  </div>

<p class="about_show_page">About <%= @child.first_name %></p>
  <div class="child_card age_and_gender">
    <p class="child_card_boxes"><%= @child.age %></p>
    <p class="child_card_boxes"><%= @child.gender %></p>
  </div>

<div>
  <p class="about_show_page">About Us </p>
  <textarea class="about_us" ><%= @parent.about %></textarea>
</div>

<button class="button1"><%= link_to "<<Back", children_path %></button>
<button class="button2"><%= link_to "send request>>", children_path %></button>
