<div class="navbar-bottom-box"> 
      <% if user_signed_in? %>
      <%= link_to "ðŸ ", children_path, class: "navbar-bottom-home", id: "navbar-bottom-home" %>
      <% else %>
      <%= link_to "ðŸ ", new_user_session_path, class: "navbar-bottom-menu", id: "navbar-bottom-home" %>
    <% end %>
    <%= link_to "ðŸ’¬", requests_path, class: "navbar-bottom-menu", id: "navbar-bottom-request" %>
    <%= link_to "ðŸ—ºï¸", root_path, class: "navbar-bottom-menu", id: "navbar-bottom-map" %>
    <%= link_to "ðŸ‘§ðŸ½", profile_path, class: "navbar-bottom-menu", id: "navbar-bottom-profile" %>
</div> 