<% navbar_background =
    if current_page?(children_path)
      "background-color: #dff0fc;"
    elsif current_page?(requests_path)
      "background-color: #efecf9;"
    elsif current_page?(root_path)
      "background-color: #e2f4ee;"
    else current_page?(profile_path)
      "background-color: #fef8dd;"
    end
  %>

<div class="navbar-bottom-box" style="<%= navbar_background %>">
      <% if user_signed_in? %>
      <%= link_to "ðŸ ", children_path, class: "navbar-bottom-menu navbar-bottom-home #{"active" if current_page?(children_path)}" %>
      <% else %>
      <%= link_to "ðŸ ", new_user_session_path, class: "navbar-bottom-menu navbar-bottom-home #{"active" if current_page?(new_user_session_path)}" %>
    <% end %>
    <%= link_to "ðŸ’¬", requests_path, class: "navbar-bottom-menu #{"active" if current_page?(requests_path)}", id: "navbar-bottom-request" %>
    <%= link_to "ðŸ—ºï¸", playgrounds_path, class: "navbar-bottom-menu #{"active" if current_page?(playgrounds_path)}", id: "navbar-bottom-map" %>
    <%= link_to "ðŸ‘§ðŸ½", profile_path, class: "navbar-bottom-menu #{"active" if current_page?(profile_path)}", id: "navbar-bottom-profile" %>
</div>
