<% navbar_background =
    if current_page?(children_path)
      "background-color: #dff0fc;"
    elsif current_page?(requests_path)
      "background-color: #efecf9;"
    elsif current_page?(playgrounds_path)
      "background-color: #e2f4ee;"
    else current_page?(profile_path)
      "background-color: #fef8dd;"
    end
  %>

<div class="navbar-bottom-box" style="<%= navbar_background %>">
      <%= link_to user_signed_in? ? children_path : new_user_session_path, class: "icon_navbar navbar-bottom-menu navbar-bottom-home #{"active" if current_page?(children_path)}" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    <%= link_to requests_path, class: "icon_navbar navbar-bottom-menu #{"active" if current_page?(requests_path)}", id: "navbar-bottom-request" do %>
      <i class="fa-solid fa-comments"></i>
    <% end %>
    <%= link_to playgrounds_path, class: "icon_navbar navbar-bottom-menu #{"active" if current_page?(playgrounds_path)}", id: "navbar-bottom-map" do %>
      <i class="fa-solid fa-map-location-dot"></i>
    <% end %>
    <%= link_to profile_path, class: "icon_navbar navbar-bottom-menu #{"active" if current_page?(profile_path)}", id: "navbar-bottom-profile" do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
</div>
