Request Boxes
<div>
  <h5> New Requests </h5>
  <% @pending_requests.each do |request| %>
    <%# wrap this is some styling to make cards %>
    <p> *** Image Placeholder *** </p>
    <h3> <%= request.requester.children.first.first_name %> </h3>
    <h4> <%= request.requester.first_name %> </h4>
  <% end %>
</div>

Message-notification Boxes
<div>
  <h5> Chats </h5>   
  <% @chats.each do |chat| %>
  <p> *** Image Placeholder *** </p>
  <h3> <%= chat.messages.first.content %> </h3>
  <h3> <%= chat.messages.first.user.children.first.first_name %> </h3>
  <h3> <%= chat.messages.first.user.first_name %> </h3>
  <% end %>
</div>

<%= console %> 