<div>
  <button class="request_button1"><%= link_to "Back", requests_path %></button>
</div>

<div class="request_child_card custom_shadow image_and_name request_foto_fit">
  <%= cl_image_tag @child.photo.key %>
  <p class="request_child_show_name luckiest-guy-regular"><%= @child.first_name %></p>
</div>

<div class="request_overall_card">
    <p class="about_show_page">About <%= @parent.first_name %></p>
    <div class="age_and_gender">
            <p class="request_child_card_boxes"><%= @parent.age %></p>
            <p class="request_child_card_boxes"><%= @parent.gender %></p>
    </div>

  <p class="about_show_page">About <%= @child.first_name %></p>
    <div class="age_and_gender">
      <p class="request_child_card_boxes"><%= @child.age %></p>
      <p class="request_child_card_boxes"><%= @child.gender %></p>

      <% @child.self_characteristics.each do |characteristic| %>
        <p class="request_child_card_boxes_full"><%= characteristic.name %></p>
      <% end %>
    </div>
  <div>
    <p class="about_show_page">About Us </p>
    <p class="request_about_us" ><%= @parent.about %></p>
  </div>
</div>

<div class="request_buttons">
  <%= link_to "Accept", accept_request_path(@request), class:"request-accept-button" %>
  <%= link_to "Reject", reject_request_path(@request), class:"request-reject-button" %>
</div>
