<a href="/requests" class="button-back-navigation"><--</a>
<h1> Heyy </h1>
<div class="request-show-profile">
<img class="user-image" src="https://th.bing.com/th/id/OIP.jaCY5SwnrEfiIe5oy_B7HwHaE8?w=244&h=180&c=7&r=0&o=5&dpr=2&pid=1.7" alt="Parent Profile Picture">
<%= @request.requester.children.first.first_name %>
<%= @request.requester.first_name %>
</div>

<h3> About parent: </h3>
<p> <%= @request.requester.age %> </p>
<p> <%= @request.requester.gender %> </p>


<h3> About child: </h3>
<p> <%= @request.requester.children.first.age %> </p>
<p> <%= @request.requester.children.first.gender %> </p>



<h3> About us: </h3>

<%= link_to "accept", accept_request_path(@request) %>
<%= link_to "reject", reject_request_path(@request) %>