<a href="/requests" class="button-back-navigation"><--</a>
<div class="notification-box" id="notification-box2">
  <img class="user-image" src="https://th.bing.com/th/id/OIP.jaCY5SwnrEfiIe5oy_B7HwHaE8?w=244&h=180&c=7&r=0&o=5&dpr=2&pid=1.7" alt="Parent Profile Picture">
  <%#h3> <%= chat.messages.first.content %> 
  <div class="text-vertical-center">   
    <div> 
      <h1 class="luckiest-guy-regular"> <%= @chat.request.receiver == current_user ? @chat.request.requester.children.first.first_name : @chat.request.receiver.children.first.first_name%> </h1>
    </div> 
    <div> 
      <h5 class="comic-neue-regular"> <%= @chat.request.receiver == current_user ? @chat.request.requester.first_name : @chat.request.receiver.first_name %> </h5>
    </div> 
  </div>
</div>

<div class="container chat">
  <%#= turbo_stream_from "booking_#{@booking.id}_messages" %>
  <div id="messages" class="messages">
    <% @chat.messages.each do |message| %>
      <%= render "messages/message", message: message, user: current_user %>
    <% end %>
  </div>

  <div class="message-input">
    <%= simple_form_for [@chat, @message],
      html: {class: "d-flex",
            data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"},
        input_html: {class: "message-field"}
      %>
      <%= f.submit "Send", class: "btn message-send mb-3" %>
    <% end %>
  </div>
</div>